@page
@model ClubBaistGolfManagement.Pages.SubmitStandingTeeTimeModel
@{
    ViewData["Title"] = "SubmitStandingTeeTime";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>SubmitStandingTeeTime</h1>

<form method="post">
    
    <div class="container-fluid">
        <div>
            <a asp-page="./ReserveStandingTeeTime" class="btn btn-info" role="button">My Standing Tee Time Request</a>
            </div>
            <br/>
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div><b><u>Pick a day to submit Standing Tee Time Request</u></b></div>
                        @foreach (string day in Model.ThisWeek)
                        {
                            <button class="btn btn-info" asp-route-day="@day">@day</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        @if (Model.Alert != null)
        {
            <div class="alert alert-info" role="alert">
                @Model.Alert
            </div>
        }
    </div>

    @{
        if (@Model.DailyStandingTeeTimeRequests != null)
        {
            <div><b><u>Available Standing Tee Times</u></b></div>
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div style="height:400px;overflow-y:scroll">
                            <div class="col-sm-12">
                                <div class="row">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Day of Week</th>
                                            <th>Timeslot</th>
                                            <th>Submit Request</th>
                                        </tr>
                                        @{
                                            foreach (var standing in @Model.DailyStandingTeeTimeRequests)
                                            {
                                                <tr>
                                                    <td>@standing.DayofWeek.ToString()</td>
                                                    <td>@standing.RequestedTime.ToShortTimeString()</td>
                                                    <td>
                                                        <a asp-page="./ReserveStandingTeeTime"
                                                           asp-route-time="@standing.RequestedTime.ToShortTimeString()" 
                                                           asp-route-day="@standing.DayofWeek.ToString()" 
                                                           class="btn btn-info" role="button">Select</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</form>


